{% load static %}
<!doctype html>
<html>
    <head>
        <!-- Author: Albert Wohletz -->
        <title>GM Organizer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={% static 'jquery-ui-1.11.2/external/jquery/jquery.js' %}></script>
        <script src={% static 'jquery-ui-1.11.2/jquery-ui.min.js' %}></script>
        <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}" >
        <script src={% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}></script>
        <link href="{% static 'bootstrap-glyphicons-master/css/bootstrap.icon-large.min.css' %}" rel="stylesheet">
        <script src={% static 'js/main.js' %}></script>
    </head>

    <body>
        <ul class="nav nav-tabs navbar-inverse" role="tablist">
            <li role="presentation" class="active"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
            <li role="presentation"><a href="#pcs" aria-controls="pcs" role="tab" data-toggle="tab">PCs</a></li>
            <li role="presentation"><a href="#npcs" aria-controls="npcs" role="tab" data-toggle="tab">NPCs</a></li>
            <li role="presentation"><a href="#enemies" aria-controls="enemies" role="tab" data-toggle="tab">Enemies</a></li>
        </ul>

        <div class='container' style='padding-top:30px'>
            <div class="tab-content col-xs-6">
                <div role="tabpanel" class="tab-pane active" id="events">
                    <!-- Events -->
                    <div class='col-xs-6 list-group'>
                        <div id='event' class='sortable'>
                            {% for event in events %}
                                <a href="#" class="list-group-item {% if event.hidden %}list-group-item-warning{% endif %} event" val="{{event.id}}"    text="{{event.text}}" name="{{event.name}}">   
                                {{event.name}}
                                    {% if gm %}
                                        <button type="button" class="btn btn-default btn-xs pull-right delete-event" val='{{event.id}}'><span class="   glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default btn-xs pull-right edit-event" val='{{event.id}}'><span  class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                        {% if gm %}
                            <a href="#" class="list-group-item add-event" data-toggle="modal" data-target="#event-modal"><span class="glyphicon     glyphicon-plus-sign" aria-hidden="true"></span> Add New</a>
                        {% endif %}
                    </div>

                    <!-- Subevents -->
                    <div class='col-xs-6 subevents'>
                        <div class="list-group">
                            <div id='subevent' class='sortable'>
                                {% for subevent in subevents %}
                                    <a href="#" class="list-group-item hidden {% if subevent.hidden %}list-group-item-warning{% endif %} subevent   subevent-{{subevent.event.id}}" val="{{subevent.id}}" text="{{subevent.text}}" name="{{subevent.name}}">   
                                        {{subevent.name}}

                                        {% if gm %}
                                        <button type="button" class="btn btn-default btn-xs pull-right delete-subevent" val='{{subevent.id}}'><span    class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default btn-xs pull-right edit-subevent" val='{{subevent.id}}'><span  class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>

                            {% if gm %}
                                <a href="#" class="list-group-item hidden add-subevent" data-toggle="modal" data-target="#event-modal"><span class="   glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New</a>
                            {% endif %}
                        </div> 
                    </div>
                </div>            

                <!-- PC -->
                <div role="tabpanel" class='tab-pane col-xs-6' id='pcs'>
                    <div class="list-group">
                        <div id='pc' class='sortable'>
                            {% for pc in pcs %}
                                <a href="#" class="list-group-item {% if pc.hidden %}list-group-item-warning{% endif %} pc" val="{{pc.id}}" text = "{{pc.text}}" name="{{pc.name}}">   
                                    {{pc.name}}

                                    {% if gm %}
                                        <button type="button" class="btn btn-default btn-xs pull-right delete-pc" val='{{pc.id}}'><span  class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default btn-xs pull-right edit-pc" val='{{pc.id}}'><span  class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                        {% if gm %}
                            <a href="#" class="list-group-item add-pc" data-toggle="modal" data-target="#event-modal"><span class=" glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New</a>
                        {% endif %}
                    </div> 
                </div>

                <!-- NPC -->
                <div role="tabpanel" class='tab-pane col-xs-6' id='npcs'>
                    <div class="list-group">
                        <div id='npc' class='sortable'>
                            {% for npc in npcs %}
                                <a href="#" class="list-group-item {% if npc.hidden %}list-group-item-warning{% endif %} npc" val="{{npc.id}}"  text="{{npc.text}}" name='{{npc.name}}'>   
                                    {{npc.name}}

                                    {% if gm %}
                                        <button type="button" class="btn btn-default btn-xs pull-right delete-npc" val='{{npc.id}}'><span     class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default btn-xs pull-right edit-npc" val='{{npc.id}}'><span  class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                        {% if gm %}
                            <a href="#" class="list-group-item add-npc" data-toggle="modal" data-target="#event-modal"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" name="{{npc.name}}"></span> Add New</a>
                        {% endif %}
                    </div> 
                </div>

                <!-- Enemies -->
                <div role="tabpanel" class='tab-pane col-xs-6' id='enemies'>
                    <div class="list-group">
                        <div id='enemy' class='sortable'>
                            {% for npc in enemies %}
                                <a href="#" class="list-group-item {% if npc.hidden %}list-group-item-warning{% endif %} enemy" val="{{npc.id}}"  text="{{npc.text}}" name='{{npc.name}}'>   
                                    {{npc.name}}

                                    {% if gm %}
                                        <button type="button" class="btn btn-default btn-xs pull-right delete-enemy" val='{{npc.id}}'><span     class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default btn-xs pull-right edit-enemy" val='{{npc.id}}'><span  class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                        {% if gm %}
                            <a href="#" class="list-group-item add-enemy" data-toggle="modal" data-target="#event-modal"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" name="{{npc.name}}"></span> Add New</a>
                        {% endif %}
                    </div> 
                </div>
            </div>



    
            <!-- Summary Tab -->
            <div class='col-xs-6 summary'>
            </div>
        </div>
    </body>

    {% if gm %}
        <!-- Event Modal -->
        <div class="modal fade" id='event-modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <select class="form-control type">
                            <option>Event</option>
                            <option>Subevent</option>
                            <option>PC</option>
                            <option>NPC</option>
                            <option>Enemy</option>
                        </select>
                        <input type="text" class="form-control event-name" placeholder="Name" aria-describedby="sizing-addon1">
                        <textarea class="form-control event-text" placeholder="Text" aria-describedby="sizing-addon1"></textarea>
                        <input type="checkbox" class='event-hidden' checked> Hidden
                        <button type="button" class="btn btn-default save-event">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default edit-btn">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</html>