{% load static %}
<!doctype html>
<html>
    <head>
        <!-- Author: Albert Wohletz -->
        <title>GM Organizer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={% static 'jquery-ui-1.11.2/external/jquery/jquery.js' %}></script>
        <script src={% static 'jquery-ui-1.11.2/jquery-ui.min.js' %}></script>
        <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}" >
        <script src={% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}></script>
        <link href="{% static 'bootstrap-glyphicons-master/css/bootstrap.icon-large.min.css' %}" rel="stylesheet">
        <script src={% static 'js/main.js' %}></script>
    </head>

    <body>
        <div class='container'>
            <div class='col-xs-3 list-group'>
                    {% for event in events %}
                        <a class="list-group-item {% if event.hidden %}list-group-item-warning{% endif %} event" val='{{event.id}}'>{{event.name}}</a>
                    {% endfor %}
            </div>
            <div class='col-xs-3 subevents'>
                <div class="list-group">
                    {% for subevent in subevents %}
                        <a class="list-group-item {% if subevent.hidden %}list-group-item-warning{% endif %} hidden subevent-{{subevent.event.id}}">{{subevent.name}}</a>
                    {% endfor %}
                </div> 
            </div>
            <div class='col-xs-6 summary'>
            </div>
        </div>
    </body>
</html>