{% load static %}
<!doctype html>
<html>
    <head>
        <!-- Author: Albert Wohletz -->
        <title>GM Organizer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={% static 'jquery-ui-1.11.2/external/jquery/jquery.js' %}></script>
        <script src={% static 'jquery-ui-1.11.2/jquery-ui.min.js' %}></script>
        <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}" >
        <script src={% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}></script>
        <link href="{% static 'bootstrap-glyphicons-master/css/bootstrap.icon-large.min.css' %}" rel="stylesheet">
        <script src={% static 'js/main.js' %}></script>
    </head>

    <body>
        <div class='container'>

            <!-- Events -->
            <div class='col-xs-3 list-group'>
                <div class='event-div'>
                    {% for event in events %}
                        <a href="#" class="list-group-item {% if event.hidden %}list-group-item-warning{% endif %} event" val="{{event.id}}">   {{event.name}}
                            <button type="button" class="btn btn-default btn-xs pull-right delete-event" val='{{event.id}}'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                        </a>
                    {% endfor %}
                </div>
                <a href="#" class="list-group-item add-event" data-toggle="modal" data-target="#event-modal"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New</a>
            </div>

            <!-- Subevents -->
            <div class='col-xs-3 subevents'>
                <div class="list-group">
                    <div class='subevent-div'>
                        {% for subevent in subevents %}
                            <a href="#" class="list-group-item hidden {% if subevent.hidden %}list-group-item-warning{% endif %} subevent subevent-{{subevent.event.id}}" val="{{subevent.id}}">   
                                {{subevent.name}}
                                <button type="button" class="btn btn-default btn-xs pull-right delete-event" val='{{subevent.id}}'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                            </a>
                        {% endfor %}
                    </div>
                    <a href="#" class="list-group-item add-subevent" data-toggle="modal" data-target="#event-modal"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New</a>
                </div> 
            </div>
            <div class='col-xs-6 summary'>
            </div>
        </div>
    </body>

    <!-- Event Modal -->
    <div class="modal fade" id='event-modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <input type="text" class="form-control event-name" placeholder="Name" aria-describedby="sizing-addon1">
                <textarea class="form-control event-text" placeholder="Text" aria-describedby="sizing-addon1"></textarea>
                <input type="checkbox" class='event-hidden' checked> Hidden
                <button type="button" class="btn btn-default save-event"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</html>